body {
    background-color:slategray;
    color:black;
}

a {
    color:brown;
}

h1 {
    /* Met schreef */
    font-family: Georgia;
  }  
  p {
    /* Zonder schreef */
    font-family: Verdana;
  }  
  h2 {
    /* Monospace */
    font-family: Courier;
  } 
  h3 {
    /* Meerdere lettertypes voor een HTML-element */
    /* h3 krijgt een schreefloos lettertype */
    font-family: Verdana, Geneva, Arial, sans-serif;
  } 